<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DA_team">
    <meta name="keywords" content="탄소배출">
    <meta name="description" content="탄소배출">


    <meta property="og:url" content="" />
    <meta property="og:title" content="탄소배출" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="" /> -->
    <meta property="og:description" content="탄소배출" />
    
    <!-- icon -> icon-icons.com -->
    <!-- <link rel="shortcut icon" href=""> -->
    <!-- <link rel="apple-touch-icon-precomposed" href=""> -->

    <title>나의 환경 테스트</title>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icon.png' %}?">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'qna.css' %}?after">
    <link rel="stylesheet" href="{% static 'animation.css' %}?after">
    <link rel="stylesheet" href="{% static 'result.css' %}?after">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PFXMD2G6EL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-PFXMD2G6EL');
      </script>
</head>
<body>
    <div class="container mx-auto" style="background-color: rgb(201, 160, 223);align-items: center;justify-content: center;display: flex; font-size: 14px;">
        <section id="result" style="background-color: rgb(201, 160, 223);">   
            <div class="col-lg-6 col-md-8 col-sm-10 col- py-1 mx-auto">
                <img src="{% static 'result_title.png' %}" alt="mainImage" class="img-fluid">
            </div>
            <div class="sub_container" style="border-radius: 15px; background-color: rgb(201, 160, 223);">
                <div id="resultImg">
                    <div class="content_container col-lg-6 col-md-8 col-sm-10 col- mx-auto mt-3 py- px-3">
                        <div class="char_title"><h1>&lt; Good 😇&gt;</h1></div>
                        <div class="img_container" id="best_img"></div>
                        <div class="caption_container py-3" id="best_cap"></div>
                    </div>
                    <div class="content_container col-lg-6 col-md-8 col-sm-10 col- mx-auto mt-3 py- px-3">
                        <div class="char_title"><h1>&lt; Bad 😞&gt;</h1></div>
                        <div class="img_container" id="worst_img"></div>
                        <div class="caption_container py-3" id="worst_cap"></div>
                    </div>
                </div>

            </div>
            <div class="resultGraph col-lg-6 col-md-8 col-sm-10 col- mx-auto py-3" style="background-color: white; border-radius: 20px; width : 80%; align-items: center; flex-direction: column;">
                <div class="img_container" id="graph"></div>
            </div>
            <script src="{% static 'js/data.js' %}" charset="utf-8"></script>
            <script>
                var max_value = 3;
                var min_value = 1;
                const imgDiv1 = document.querySelector('#best_img');
                const imgCap1 = document.querySelector('#best_cap');
                var Img1 = document.createElement('img');
                var imgURL1 = "{% static 'coffee_low.png' %}";
                Img1.src = imgURL1;
                Img1.alt = resultList[max_value]['best'];
                Img1.style.maxHeight = "100%";
                Img1.style.width = "auto";
                Img1.classList.add('img-fluid');
                imgDiv1.appendChild(Img1);
                imgCap1.innerHTML = resultList[max_value]['best_text'];
                
                const imgDiv2 = document.querySelector('#worst_img');
                const imgCap2 = document.querySelector('#worst_cap');
                var Img2 = document.createElement('img');
                var imgURL2 = "{% static 'laundary_high.png' %}";
                Img2.src = imgURL2;
                Img2.alt = resultList[min_value]['worst'];
                Img2.style.maxHeight = "100%";
                Img2.style.width = "auto";
                Img2.classList.add('img-fluid');
                imgDiv2.appendChild(Img2);
                imgCap2.innerHTML = resultList[min_value]['worst_text'];
    
                const imgDiv3 = document.querySelector('#graph');
                var Img3 = document.createElement('img');
                var imgURL3 = "{% static '31.png' %}";
                Img3.src = imgURL3;
                Img3.alt = String(max_value) + String(min_value) + ".png";
                Img3.style.maxHeight = "100%";
                Img3.style.width = "auto";
                Img3.classList.add('img-fluid');
                imgDiv3.appendChild(Img3);
            </script>

            <button class="replay w-btn w-btn-indigo py-3" type="button" style="bottom:10px;" onclick="location.href='http://env-test.r-e.kr'">
                테스트 시작
            </button>
        </section>
    </div>

    <script src="static/js/data.js?after" charset="utf-8"></script>
    <script src="static/js/start.js?after" charset="utf-8"></script>
</body>
</html>