<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DA_team">
    <meta name="keywords" content="탄소배출">
    <meta name="description" content="탄소배출">

    <meta property="og:url" content="" />
    <meta property="og:title" content="탄소배출" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="" /> -->
    <meta property="og:description" content="탄소배출" />
    
    <!-- icon -> icon-icons.com -->
    <!-- <link rel="shortcut icon" href=""> -->
    <!-- <link rel="apple-touch-icon-precomposed" href=""> -->

    <title>나의 환경 테스트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'icon.png' %}?">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}?after">
    <link rel="stylesheet" href="{% static 'qna.css' %}?after">
    <link rel="stylesheet" href="{% static 'animation.css' %}?after">
    <link rel="stylesheet" href="{% static 'water_bear.png' %}?after">
    <link rel="stylesheet" href="{% static 'title-purple_top.png' %}?after">
    <link rel="stylesheet" href="{% static 'result_title.png' %}?after">
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PFXMD2G6EL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-PFXMD2G6EL');
      </script>
</head>
<body>
    <!-- <div class="test_text">haha</div> -->
    <div class="container" style="background-color: rgb(202, 172, 222);">
        <section id="main" class="mx-auto py-3">   
            <div class="col-lg-6 col-md-8 col-sm-10 col- mx-auto">
                <img src="{% static 'title-purple_top.png' %}" alt="mainImage" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 col- mx-auto">
                <img src="{% static 'water_bear.png' %}" alt="mainImage" class="img-fluid">
            </div>
            <p>         </p>
            <button type="button" class="btn btn-outline-danger mt-3"
            onclick="js:begin()">
                START
            </button>
        </section>

        <section id="qna" class="mx-auto py-3">
            <header>
                <h1>Environ Test</h1>
                <h2 id="header_time"></h2>
            </header>
            <div class="status mx-auto my-4" style="background-color: white; font-family: 'Gowun Batang', serif;">
                <div class="statusBar"></div>
            </div>

            <div class="qbox py-3 mx-auto" style="font-family: 'Gowun Batang', serif;">

            </div>

            <div class="abox" style="font-family: 'Gowun Batang', serif;">

            </div>
            <div class="btn_box"></div>
        </section>

        <section id="result_page" style="display: none;">
            <form id='formId' class='createform'>
                {% csrf_token %}
            </form>

        </section>
        <script src="static/js/data.js?after" charset="utf-8"></script>
        <script src="static/js/start.js?after" charset="utf-8"></script>
        
    </div>
</body>
</html>