#qna {
    display: none;
    width: 95%;
    height: auto;
    text-align: center;
}

#result{
    width: 95%;
}

.qbox {
    background-color: whitesmoke;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    font-size: 20px;
}

.answerList {
    background-color: whitesmoke;
    display: block;
    width: 100%;
}

/* .answerList:hover, .answerList:focus {
    background-color: pink;
    color: whitesmoke;
} */
.w-btn{
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 600;
	transition:all 0.9s, color 0.3;
	/* top: 30px; */
    /* margin : 0 auto; */
}

.w-btn-indigo{
    background-color: aliceblue;
    color: #1e6b7b;
}

#resultImg {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    justify-content: center;
    text-align: center;
    /* gap: 10px;
    max-width: 100%; 이미지 컨테이너의 최대 너비를 100%로 설정하여 컨테이너가 화면을 넘어가지 않도록 함 */
}


.container{
    /* background-color: white; */
    background-color: rgb(201, 160, 223);
}

/* 
*{
    font-family: 'Gowun Batang', sans-serif;
} */

.char_title{
    /* font-family: 'Roboto', cursive; */
    /* font-family: 'Quicksand', cursive; */
    font-family: 'Darumadrop One', cursive;
}

p {
    font-size: 22px;
}

.content_container {
    flex-grow: 1;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #DFC7DC;
    /* background-color: rgb(201, 160, 223); */
    max-width: 90%; /* 원하는 너비 값 */
    height: auto; /* 원하는 높이 값 */
}

.img_container {
    margin : auto;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    align-items: center; /* 세로 방향 중앙 정렬 */
    max-width: 90%; /* 원하는 너비 값 */
    height: auto; /* 원하는 높이 값 */
    box-sizing: border-box;
}

.caption_container {
    font-family: 'Gowun Batang', serif;
    max-width: 100%; /* 원하는 너비 값 */
    height: auto; /* 원하는 높이 값 */
    font-size: 1.2em;
    box-sizing: border-box;
    height: auto;
}

.status{
    height: 25px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.resultGraph{
    margin: 30px;
}

.statusBar{
    height: 100%;
    border-radius: 20px;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

   
}